annotated-doc
annotated-types
anyio
click
colorama
fastapi
firebase-admin
h11
httptools
idna
loguru
mysql-connector-python
pydantic
pydantic_core
PyJWT
python-dotenv
pytz
PyYAML
sniffio
starlette
typing-inspection
typing_extensions
uvicorn
watchfiles
websockets
win32_setctime
